@model University.Models.Dto.UserDto

@{
    ViewBag.Title = "PageSubmitRegistration";
}

<head>
    <script type="text/javascript" src="/scripts/admin.js">

    
    </script>

    <style>
        img {
            display: block;
            max-width: 230px;
            max-height: 250px;
            width: auto;
            height: auto;
        }
    </style>
</head>

<h3>Страница подтверждения регистрации</h3>

<div class="container">
    <div class="col-md-8">
        <div class="form-group col-md-12">
            @Html.Label("Фамилия", new {@class = "col-md-2 control-label"})
            <div class="col-md-10">@Model.SurName</div>
        </div>

        <div class="form-group col-md-12">
            @Html.Label("Имя", new {@class = "col-md-2 control-label"})
            <div class="col-md-10">@Model.FirstName</div>
        </div>

        <div class="form-group col-md-12">
            @Html.Label("Отчество", new { @class = "col-md-2 control-label"})
            <div class="col-md-10">@Model.PatronymicName</div>
        </div>

        <div class="form-group col-md-12">
            @Html.Label("Дата рождения", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">@Model.BirthDate.ToLongDateString()</div>
        </div>
        <div class="form-group col-md-12">
            @Html.Label("Группа", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">@Model.Group</div>
        </div>

        <div class="form-group col-md-12">
            @Html.Label("Электронный адрес", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">@Model.Email</div>
        </div>

        <p>
            <button type="submit" class="btn btn-primary btn-sm" onclick="SubmitUser('@Model.Id')">Принять</button>
            <button type="submit" class="btn btn-danger btn-sm" onclick="DeleteUser('@Model.Id')">Отклонить</button>
        </p>
    </div>

    <div class="col-md-4 stock-group-item large">
        <img class="image" src="@Model.Photo">
    </div>
</div>
