@using Microsoft.AspNet.Identity
@model University.Models.Dto.TeacherDto

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 col-lg-4" align="center">
                    <img alt="Фото" src="@Model.Photo" class="circular-square-users">
                </div>
                <div class="col-sm-6 col-md-6">
                    <h4>
                        <i class="fa fa-university fa">
                            @{ string userId = User.Identity.GetUserId(); }
                            @if (userId != Model.Id)
                            {
                                <a href="/Home/UserPage/@Model.Id"> @Model.SurName @Model.PatronymicName @Model.FirstName </a>
                            }
                            else
                            {
                                <span> @Model.SurName @Model.PatronymicName @Model.FirstName </span>
                            }
                        </i>
                    </h4>
                    <p>
                        <i class="glyphicon glyphicon-envelope"> @Model.Email </i>
                        <br/>
                    </p>
                    <p>
                        <i class="fa"> Преподаватель кафедры @Model.Department </i>
                        <br />
                    </p>
                    <h5> Предметы: </h5>
                    @foreach (var subject in Model.Subjects)
                    {
                        <p>
                            <i> <a href="/Subjects/MaterialsSubject/@subject.Id"> @subject.NameAbridgment </a></i>
                            <br/>
                        </p>
                    }
                </div>
                <div class="col-md-2">
                    <i class="fa"> <a href="/Teachers/TeacherPage/@Model.Id"> Отзывы </a></i>
                </div>
            </div>
        </div>
    </div>
</div>
