@using University.Models.Helper
@model University.Models.Dto.TeacherDto

@Styles.Render("~/Content/css")
@Scripts.Render("~/scripts/jquery-3.1.1.js")
@Scripts.Render("~/scripts/jquery-ui-1.12.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

<head>
    <script type="text/javascript" src="/scripts/script.js">

    </script>

    <script type="text/javascript">
        var userName = '@Model.SurName' + " " + '@Model.FirstName';
        initUserName(userName);
    </script>

    <style>
        img {
            display: block;
            max-width: 230px;
            max-height: 250px;
            width: auto;
            height: auto;
        }

        .block-image {
            margin-top: 30px;
        }

        .labeled {
            color: #696969;
        }

        .control-label {
            color: #494949;
        }

        .block-name {
            padding-left: 30px;
        }
    </style>

</head>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            @Html.Partial("../Home/PartialViewSaidBar")
        </div>

        @if (!(bool)ViewData["CurrentUser"])
        {
            @Html.Partial("../Home/PageNewMessage")
        }

        <div class="col-md-8" style="margin-top: 10px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading resume-heading">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-xs-12 col-sm-4" align="center">
                                    <img alt="Фото" src="@Model.Photo" class="circular-square">
                                </div>

                                <div class="col-xs-12 col-sm-8">
                                    <h3>
                                        <i class="fa fa-university fa">
                                            @if (!(bool) ViewData["CurrentUser"])
                                            {
                                            <a href="/Home/UserPage/@Model.Id"> @Model.SurName @Model.PatronymicName @Model.FirstName </a>
                                            }
                                            else
                                            {
                                            <span> @Model.SurName @Model.PatronymicName @Model.FirstName </span>
                                            }
                                        </i>
                                    </h3>
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>E-mail</td>
                                                <td>@Model.Email</td>
                                            </tr>
                                            <tr>
                                                <td>Преподаватель кафедры</td>
                                                <td>@Model.Department</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    @if (!(bool) ViewData["CurrentUser"])
                                    {
                                    <div class="btn-group">
                                        <a class="btn btn-success" onclick="ShowFormSendMessage('@Model.Id')" id="show-button">
                                            <i class="fa fa-envelope fa"> Написать сообщение </i>
                                        </a>
                                    </div>
                                    }
                                    <h5> Предметы: </h5>
                                    @foreach (var subject in Model.Subjects)
                                    {
                                    <p>
                                        <i> <a href="/Subjects/MaterialsSubject/@subject.Id"> @subject.NameAbridgment </a></i>
                                        <br />
                                    </p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" id="panel-id">
                <div id="formReviews" class="panel">
                    @{
                        if (Model.Comments.Count == 0)
                        {
                            <div id="noReviews" style="text-align: center; color: black; padding-top: 20%;">
                                <p style="color: #fff; ">Пользователи пока не оставляли отзывов.</p>
                            </div>
                        }
                        else
                        {
                            foreach (var comment in Model.Comments)
                            {
                                @Html.Partial("Review", comment)
                            }
                        }
                    }
                </div>
            </div>

            <div class="col-md-8 pull-right">
                @Html.Partial("PartialAddReview")
            </div>
        </div>
    </div>
</div>
