@using System.Drawing
@using University.Models
@model LoginViewModel

@{
    ViewBag.Title = "Войти в личный кабинет";
}

@Styles.Render("~/Content/style.css")

<div class="login-form-container">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form" }))
            {
                @Html.AntiForgeryToken()
                <h2>@ViewBag.Title</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form class="login-form">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <div class="login-label">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div class="login-label">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                    <div>
                        <input type="submit" value="Войти" class="login-button" />
                    </div>
                    <div>
                        @Html.ActionLink("Register as a new user", "Register")
                    </div>
                </form>
                @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
            }
        </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
}