@using System.Drawing
@using University.Models
@model University.Models.RegisterViewModel

@{
    ViewBag.Title = "Регистрация";
}

@Scripts.Render("~/scripts/jquery-3.1.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

<head>
    <script type="text/javascript" src="/scripts/account.js">
    </script>
    
    <style>
        img {
          display: block;
          max-width:230px;
          max-height:250px;
          width: auto;
          height: auto;
        }

    </style>
</head>

<h2>@ViewBag.Title.</h2>

<div class="container">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {

        SelectList roles = new SelectList(
            new List<SelectListItem>
            {
            new SelectListItem {Text = "Студент", Value = "Student"},
            new SelectListItem {Text = "Преподаватель", Value = "Teacher"},
            }, "Value", "Text");


        @Html.AntiForgeryToken()
        <h4>Создайте новую учетную запись.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.SurName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.SurName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PatronymicName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PatronymicName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.BirthDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.BirthDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Role, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Role, roles, "- Выберите роль -", new { @class = "css-class" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Faculty, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Faculty, ViewData["Faculties"] as SelectList, "- Выберите факультет -", new { @class = "css-class", id = "faculty" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Speciality, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Speciality, ViewData["Specialities"] as SelectList, "- Выберите специальность -", new { @class = "css-class", id = "speciality" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Group, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Group, ViewData["Groups"] as SelectList, "- Выберите группу -", new { @class = "css-class", id = "group" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="Регистрация" />
                </div>
            </div>
        </div>

        <div class="col-md-4">
                    <img id="output" src="/Files/Avatars/NoImage.jpg" alt="" aligh="left"/>
                <br/>
            <div class="upload-file-container-text stock-group-item">
                <br/>
                <input type="file" name="image" class="image" accept="image/*" onchange="loadFile(event)">
                <label class="control-label">Добавить фото</label>
            </div>
        </div>
    }
</div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
            <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
            <script src='@Url.Content("~/Scripts/Script.js")' type="text/javascript"></script>
        }