@using University.Models.Helper
@model IEnumerable<University.Models.Dto.MaterialDto>

@{
    ViewBag.Title = "Материалы";
}

@Scripts.Render("~/scripts/jquery-3.1.1.js")
@Scripts.Render("~/scripts/jquery.form.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

<head>
    <script type="text/javascript" src="/scripts/script.js">
    </script>
</head>

<style>
    #style-border {
        display: block;
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
        -webkit-margin-start: auto;
        -webkit-margin-end: auto;
    }

    #lecture-content {
        max-height: 60%;
        overflow: auto;
        min-height: 60%;
        margin-top: 20px;
    }

    #panel-id {
        height: 600px;
        margin-top: 0;
    }

    #panel-heading {
        max-height: 400px;
    }
</style>

<div id="subjModal" class="modal fade" style="padding-top: 10%;">
    <div class="modal-dialog">
        <div class="modal-content alert alert-info">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="dialogName-modal"> Добавить материал </h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body" id="participantsDialog">
                @{
                    string subjectId = Url.RequestContext.RouteData.Values["id"].ToString();
                    <input type="text" name="SubjectId" id="SubjectId" value="@Int32.Parse(subjectId)" class="hide">
                    <br />
                    <textarea class="form-element form-element-textarea" id="inputDescriptionMaterial" name="Name" rows="5" oninput="LockedButton('inputDescriptionMaterial', 'buttonAddMaterial')" placeholder="Добавьте описание" style="max-width: none; width: 100%;"></textarea>
                    <br />

                    <div class="form-group">
                        <select class="form-material" name="TypeLesson" id="TypeLesson">
                            <option value="Lecture"> Лекции </option>
                            <option value="Practic"> Практические занятия </option>
                        </select>
                    </div>

                    <div>
                        <span> Прикрепить файл </span>
                        <input type="file" class="upload" name="loadFile" id="loadFile" style="max-width: none; width: 100%; margin-top: 5px;"/>
                    </div>
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="AddMaterialClick()" id="buttonAddMaterial" disabled> Добавить </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CloseFormAddMaterial()"> Закрыть </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h2 class="title">@ViewBag.SubjectName</h2>
                <hr id="form-line" />
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3" id="buttonNewMaterial">
            <div class="form-group">
                <a href="#subjModal" role="button" class="btn btn-primary pull-right" data-toggle="modal"> Добавить новый материал </a>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-3" style="padding-top: 15px; ">
            <div class="panel panel-subject" style="border-style:none;">
                <div class="panel-heading">
                    <div class="row" id="panel-id">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="lecture-form-link">Лекции</a>

                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="practical-form-link">Практические занятия</a>

                        </div>
                        <div class="col-md-12" id="lecture-content">
                            <hr id="border-style" />
                            @foreach (var material in Model.Where(m => m.TypeLesson == Enum.GetName(typeof(TypeLesson), 0)))
                            {
                                @Html.Partial("PartialViewMaterial", material)
                            }
                        </div>
                        <div class="col-md-12" id="practical-content" hidden>
                            <hr id="style-border" />
                            @foreach (var material in Model.Where(m => m.TypeLesson == Enum.GetName(typeof(TypeLesson), 1)))
                            {
                                @Html.Partial("PartialViewMaterial", material)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
