@model University.Models.Dto.MaterialDto

@{
    ViewBag.Title = "Material";
}

@Scripts.Render("~/scripts/jquery-3.1.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

<head>
    <script type="text/javascript" src="/scripts/script.js">
    </script>
    <link href="/Content/Site.css" rel="stylesheet">
</head>

<h2>@Model.Name</h2>
<div class="container">
    <div class="col-md-8">
        <div class="form-horizontal" id="materialInfo">
                <label class="control-label form-element-label-name">@String.Format("{0:dd.MM.yyyy}", Model.DateLoad) в @String.Format("{0:H.mm}", Model.DateLoad)</label>
                <label class="control-label form-element-label-time"><b>@Model.SurName @Model.FirstName</b></label>
            <p>
                <a href="@Model.FileLink" download>Скачать файл</a>
            <p>
                <br />
        </div>

        <div id="formComments" class="form-horizontal">
            @{
                if (Model.Comments.Count == 0)
                {
                    <div id="noComments">
                        <p>Пользователи пока не оставляли комментариев</p>
                    </div>
                }
                else
                {
                    foreach (var msg in Model.Comments)
                    {
                        @Html.Partial("Comment", msg)
                    }
                }
            }
        </div>
        <div class="form-horizontal">
            @Html.Partial("PartialAddComment")
        </div>
    </div>
</div>

