@model University.Models.Dto.MaterialDto

@{
    ViewBag.Title = "Material";
}

@Scripts.Render("~/scripts/jquery-3.1.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

<head>
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="/scripts/script.js">
    </script>

    <link href="/Content/Site.css" rel="stylesheet">

    <style>
        .form-element-textarea {
            width: 100%;
            max-width: 600px;
        }

        div {
            word-wrap: break-word;
        }

        #formComments {
            margin-top: 5px;
            max-height: 60%;
            overflow: auto;
            min-height: 60%;
            margin-top: 20px;

        }

        #panel-id {
            height: 600px;
            margin-top: 0;
            width: 99%;
        }
    </style>
</head>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            @Html.Partial("../Home/PartialViewSaidBar")
        </div>

        <div class="col-md-8" style="margin-top: 15px;">
            <div class="panel panel-default arrow left">
                <div class="panel-body">
                    <header class="text-left">
                        <div class="comment-user"><i class="fa fa-user fa"></i> @Model.SurName @Model.FirstName </div>
                        <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> @String.Format("{0:dd.MM.yyyy}", Model.DateLoad) в @String.Format("{0:H.mm}", Model.DateLoad)</time>
                    </header>
                    <div class="comment-post">
                        <h5 class="media-heading" style="color: #003bb3; ">
                            <small>Имя файла: </small><b style="text-align: left; margin-top: 10px; font-weight: bold; color: #6E6E6E">@Model.Name</b>
                        </h5>
                    </div>
                    <p class="text-right"><a href="#" class="btn btn-primary pull-right"><i class="fa fa-download"></i> Скачать</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-2" style="margin-top: 15px; ">
            @Html.Partial("PartialAddComment")
        </div>
    
        <div class="row col-md-offset-2 col-md-8" id="panel-id">
            <div id="formComments" class="panel col-md-8" style="height: 100px; ">
                @{
                    if (Model.Comments.Count == 0)
                    {
                        <div id="noComments">
                            <p>Пользователи пока не оставляли комментариев</p>
                        </div>
                    }
                    else
                    {
                        foreach (var comment in Model.Comments)
                        {
                            @Html.Partial("Comment", comment)
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
