@using Microsoft.AspNet.Identity
@model University.Models.Dto.MaterialDto

@{
    ViewBag.Title = "Material";
}

@Scripts.Render("~/scripts/jquery-3.1.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

<head>
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="/scripts/script.js">
    </script>

    <link href="/Content/Site.css" rel="stylesheet">

    <style>
        .form-element-textarea {
            width: 100%;
            max-width: 600px;
        }

        div {
            word-wrap: break-word;
        }
    </style>
</head>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            @Html.Partial("../Home/PartialViewSaidBar")
        </div>

        <div class="col-md-8">
            <div class="col-md-12" style="margin-top: 15px;">
                <div class="panel panel-default arrow left">
                    <div class="panel-body">
                        <div class="comment-post">
                            <h5 class="media-heading" style="color: #003bb3; ">
                                <small>Название материала: </small><b style="text-align: left; margin-top: 10px; font-weight: bold; color: #6E6E6E">@Model.Name</b>
                            </h5>
                        </div>
                        <header class="text-left">
                            <div class="comment-user">
                                <i class="fa fa-user fa"></i>
                                @{ string userId = User.Identity.GetUserId(); }
                                @if (userId != Model.AuthorId)
                                {
                                    <a href="/Home/UserPage/@Model.AuthorId"> @Model.SurName @Model.FirstName </a>
                                }
                                else
                                {
                                    <span> @Model.SurName @Model.FirstName </span>
                                }
                            </div>
                            <small class="pull-left time">
                                <i class="fa fa-clock-o fa" style="color: #6E6E6E;"> @String.Format("{0:dd.MM.yyyy}", Model.DateLoad) в @String.Format("{0:H.mm}", Model.DateLoad)</i>
                            </small>
                        </header>
                        <p class="text-right">
                            <a href="@Model.FileLink" class="btn btn-primary pull-right"><i class="fa fa-download"></i> Скачать</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12" id="panel-id">
                <div id="formComments" class="panel">
                    @{
                        if (Model.Comments.Count == 0)
                        {
                            <div id="noComments" style="text-align: center; color: black; padding-top: 20%;">
                                <p>Пользователи пока не оставляли комментариев</p>
                            </div>
                        }
                        else
                        {
                            foreach (var comment in Model.Comments)
                            {
                                @Html.Partial("Comment", comment)
                            }
                        }
                    }
                </div>
            </div>

            <div class="col-md-8 pull-right">
                @Html.Partial("PartialAddComment")
            </div>
        </div>
    </div>
</div>
