@model University.Models.Dto.MaterialDto

<head>
    <link href="/Content/Site.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
    <style>
        .msg-wrap {
            padding: 10px;
            max-height: 400px;
            overflow: auto;
        }
    </style>
</head>

<div class="msg-wrap" style="border-bottom: 1px solid #ddd; padding: 5px; background-color: #fff; border-radius: 3px;">
    <div class="media msg">
        <div class="media-body">
            <small class="pull-right time">
                <i class="fa fa-clock-o fa" style="color: #6E6E6E;"> @String.Format("{0:dd.MM.yyyy}", Model.DateLoad) в @String.Format("{0:H.mm}", Model.DateLoad)</i>
            </small>
        </div>
        
        <h5 class="media-heading" style="color: #003bb3; text-align: left; ">
            <a href="@Url.Action("Material", "Subjects", new {id = Model.Id})">@Model.Name</a>
            <br style="text-align: left; ">
            <b>@Model.SurName @Model.FirstName</b>
        </h5>
        <br/>
    </div>
</div>
