@model University.Models.ApplicationUser
    
<tr class="dialog-container">
    <td>
        <a href="/Home/UserPage/@Model.Id">@Model.SurName @Model.FirstName</a>
    </td>
    <td>
        <a onclick="ShowFormSendMessageD('@Model.Id', '@Model.SurName @Model.FirstName')" id="show-button" class="btn btn-success btn-sm">Написать сообщение</a>
    </td>
</tr>