@model University.Models.ApplicationUser
   
<head>
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
</head>
 
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 col-lg-4" align="center">
                    <img alt="Фото" src="@Model.Photo" class="circular-square-users">
                </div>
                <div class="col-sm-6 col-md-8">
                    <h4>
                        <i class="fa fa-university fa"></i> @Model.SurName @Model.FirstName
                    </h4>
                    <p>
                        <i class="glyphicon glyphicon-user"> Студент/Преподаватель </i>
                        <br />

                        <i class="glyphicon glyphicon-envelope"> @Model.Email </i>
                        <br />
                    </p>
                    <div class="btn-group">
                        <a class="btn btn-primary" onclick="window.location.href='/Home/UserPage/@Model.Id'">
                            <i class="fa fa-eye fa"> Просмотреть </i>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-success" onclick="ShowFormSendMessageD('@Model.Id', '@Model.SurName @Model.FirstName')" id="show-button">
                            <i class="fa fa-envelope fa"> Написать сообщение </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>