@using University.Models.Tables
@model IEnumerable<University.Models.Tables.Subject>

@{
    ViewBag.Title = "Задать вопрос";
}

<head>
    <script type="text/javascript" src="/scripts/script.js">
    </script>
</head>

@Styles.Render("~/Content/css")

<div class="question-form-container">
    <section id="loginForm">
        @using (Html.BeginForm("AddQuestion", "Questions", FormMethod.Post, new { @class = "login-form", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h3> @ViewBag.Title </h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form class="login-form">
                <div class="login-label">
                    <textarea class="form-element form-element-textarea" id="Topic" name="Topic" rows="7" oninput="LockedButton('Topic', 'buttonNewQuestion')" placeholder="Добавьте описание"></textarea>
                </div>

                <div class="login-label">
                    <select class="form-question" name="SubjectId" id="SubjectId">
                        @foreach (var subject in Model)
                        {
                            <option value="@subject.Id">@subject.NameAbridgment</option>
                        }
                    </select>
                </div>

                <div class="login-label">
                    <select class="form-question" name="TypeQuestion" id="TypeQuestion">
                        <option value="Lecture"> Лекции </option>
                        <option value="Practic"> Практические занятия </option>
                    </select>
                </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="fileUpload btn-upload" id="file">
                                <span> Прикрепить </span>
                                <input type="file" class="upload" name="loadFile" id="file" />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <button type="submit" class="btn" onclick="AddMaterialClick()" id="buttonNewQuestion" disabled> Отправить </button>
                        </div>
                    </div>
</form>
        }
    </section>
</div>