@using System.Drawing
@using University.Models
@using University.Models.Helper
@model University.Models.Dto.UserDto
@{
    ViewBag.Title = "Моя страница";
}

<head>
    <style>
        img {
            display: block;
            max-width: 230px;
            max-height: 250px;
            width: auto;
            height: auto;
        }
        
        .block-image {
            margin-top: 30px;
        }

        .block-said-bar {
            margin-top: 15px;
        }

        .control-label, .labeled {
            color: #494949;
        }

        .block-name {
            padding-left: 30px;
        }
    </style>
</head>

<div class="container">
    <div class="col-md-2 block-said-bar">
        <h4> @ViewBag.Title </h4>
        @Html.Partial("PartialViewSaidBar")
    </div>

    <div class="col-md-3 block-image" float="right">
        <img class="image" src="@Model.Photo">
    </div>

    <div class="col-md-4">
        <div class="block-name">
            <h3>@Model.SurName @Model.PatronymicName @Model.FirstName</h3>
        </div>
        <br/>
        <div class="form-group col-md-12">
            @Html.Label("Дата рождения", new {@class = "col-md-6 control-label"})
            <div class="col-md-6 labeled">@Model.BirthDate.ToLongDateString()</div>
        </div>
        @if (Model.UserRole == UserRoles.student)
        {
            <div class="form-group col-md-12">
                @Html.Label("Группа", new {@class = "col-md-6 control-label"})
                <div class="col-md-6 labeled">@Model.Group</div>
            </div>
            <div class="form-group col-md-12">
                @Html.Label("Специальность", new {@class = "col-md-6 control-label"})
                <div class="col-md-6 labeled">@Model.Speciality</div>
            </div>

            <div class="form-group col-md-12">
                @Html.Label("Факультет", new {@class = "col-md-6 control-label"})
                <div class="col-md-6 labeled">@Model.Faculty</div>
            </div>
        }
        else
        {
            string labelRole = Model.UserRole == UserRoles.admin ? "Администратор" : "Преподаватель";
            <div class="form-group col-md-12">
                @Html.Label(labelRole, new {@class = "col-md-12 control-label", align = "center" })
            </div>
        }
    </div>
</div>