@using University.Models.Helper
@model University.Models.Dto.UserDto

@{
    ViewBag.Title = "PageSubmitRegistration";
}

<head>
    <script src="/scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/scripts/admin.js">


    
    </script>

    <style>
        img {
            display: block;
            max-width: 230px;
            max-height: 250px;
            width: auto;
            height: auto;
        }
    </style>
</head>

<h3>Страница подтверждения регистрации</h3>

<div class="container">
    <div class="col-md-8">
        <div class="form-group col-md-12">
            @Html.Label("Фамилия", new {@class = "col-md-2 control-label"})
            <div class="col-md-10">@Model.SurName</div>
        </div>

        <div class="form-group col-md-12">
            @Html.Label("Имя", new {@class = "col-md-2 control-label"})
            <div class="col-md-10">@Model.FirstName</div>
        </div>

        <div class="form-group col-md-12">
            @Html.Label("Отчество", new {@class = "col-md-2 control-label"})
            <div class="col-md-10">@Model.PatronymicName</div>
        </div>

        @{ string gender = Model.Gender == UserGenders.Male ? "Мужской" : "Женский";}
        <div class="form-group col-md-12">
            @Html.Label("Пол", new { @class = "col-md-2 control-label" })
            <div class="col-md-10 labeled">@gender</div>
        </div>

        <div class="form-group col-md-12">
            @Html.Label("Дата рождения", new {@class = "col-md-2 control-label"})
            <div class="col-md-10">@Model.BirthDate.ToLongDateString()</div>
        </div>

        @if (Model.UserRole == UserRoles.Student)
        {
            <div class="form-group col-md-12">
                @Html.Label("Группа", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">@Model.Group</div>
            </div>
        }
        else
        {
            <div class="form-group col-md-12">
                @Html.Label("Преподаватель кафедры", new { @class = "col-md-2 control-label" })
                <div class="col-md-10 labeled">@Model.Department</div>
            </div>
        }

        <div class="form-group col-md-12">
            @Html.Label("Электронный адрес", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">@Model.Email</div>
        </div>

        <p>
            <button type="submit" class="btn btn-primary btn-sm" onclick="SubmitUser('@Model.Id')">Принять</button>
            <button type="submit" class="btn btn-danger btn-sm" onclick="DeleteUser('@Model.Id')">Отклонить</button>
        </p>
    </div>

    <div class="col-md-4 stock-group-item large">
        <img class="image" src="@Model.Photo">
    </div>
</div>
