@using University.Models.Helper
@model University.Models.Dto.UserDto

@{
    ViewBag.Title = "PageSubmitRegistration";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/scripts/jquery-3.1.1.js")
@Scripts.Render("~/scripts/jquery-ui-1.12.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

<head>
    <script type="text/javascript" src="/scripts/admin.js"></script>
</head>

<div class="container">
    <div class="col-lg-11 col-lg-offset-1">
        <h4 style="color: black;"> Страница подтверждения регистрации </h4>
    </div>
    <div class="col-md-8 col-lg-offset-1" style="margin-top: 15px;">
        <div class="panel panel-default">
            <div class="panel-heading resume-heading">
                <div class="row">
                    <div class="col-md-8">
                        <h3>
                            <i class="fa fa-university fa"></i> @Model.SurName @Model.PatronymicName @Model.FirstName
                        </h3>
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>E-mail</td>
                                    <td>@Model.Email</td>
                                </tr>
                                <tr>
                                    @{ string gender = Model.Gender == UserGenders.Male ? "Мужской" : "Женский"; }
                                    <td>Пол</td>
                                    <td>@gender</td>
                                </tr>
                                <tr>
                                    <td>Дата рождения</td>
                                    <td>@Model.BirthDate.ToLongDateString()</td>
                                </tr>
                                @if (Model.UserRole == UserRoles.Student)
                                {
                                    <tr>
                                        <td>Факультет</td>
                                        <td>@Model.Faculty</td>
                                    </tr>
                                    <tr>
                                        <td>Специальность</td>
                                        <td>@Model.Speciality</td>
                                    </tr>
                                    <tr>
                                        <td>Группа</td>
                                        <td>@Model.Group</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>Преподаватель кафедры</td>
                                        <td>@Model.Department</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="btn-group">
                            <a class="btn btn-primary" onclick="SubmitUser('@Model.Id')">
                                <i class="fa"> Принять </i>
                            </a>
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-danger" onclick="DeleteUser('@Model.Id')">
                                <i class="fa"> Отклонить </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

