@using University.Models.Helper
@model University.Models.Dto.UserDto

<style>
    img {
        display: block;
        max-width: 230px;
        max-height: 250px;
        width: auto;
        height: auto;
    }

    .block-image {
        margin-top: 30px;
    }

    .labeled {
        color: #696969;
    }

    .control-label {
        color: #494949;
    }

    .block-name {
        padding-left: 30px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            @Html.Partial("PartialViewSaidBar")
        </div>

        @if (!(bool)ViewData["CurrentUser"])
        {
            @Html.Partial("PageNewMessage")
        }

        <div class="col-md-8" style="margin-top: 15px;">
            <div class="panel panel-default">
                <div class="panel-heading resume-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4" align="center">
                                <img src="@Model.Photo" class="circular-square">
                            </div>

                            <div class="col-md-8">
                                <h3>
                                    <i class="fa fa-university fa"></i> @Model.SurName @Model.PatronymicName @Model.FirstName
                                </h3>
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>E-mail</td>
                                            <td>@Model.Email</td>
                                        </tr>
                                        <tr>
                                            @{ string gender = Model.Gender == UserGenders.Male ? "Мужской" : "Женский"; }
                                            <td>Пол</td>
                                            <td>@gender</td>
                                        </tr>
                                        <tr>
                                            <td>Дата рождения</td>
                                            <td>@Model.BirthDate.ToLongDateString()</td>
                                        </tr>
                                        @if (Model.UserRole == UserRoles.Student)
                                        {
                                            <tr>
                                                <td>Факультет</td>
                                                <td>@Model.Faculty</td>
                                            </tr>
                                            <tr>
                                                <td>Специальность</td>
                                                <td>@Model.Speciality</td>
                                            </tr>
                                            <tr>
                                                <td>Группа</td>
                                                <td>@Model.Group</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            if (Model.UserRole == UserRoles.Admin)
                                            {
                                                <tr>
                                                    <td>Роль</td>
                                                    <td>Администратор</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>Преподаватель кафедры</td>
                                                    <td>@Model.Department</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                @if (!(bool)ViewData["CurrentUser"])
                                {
                                    <div class="btn-group">
                                        <a class="btn btn-primary" onclick="ShowFormSendMessage('@Model.Id')" id="show-button">
                                            <i class="fa fa-envelope fa"> Написать сообщение </i>
                                        </a>
                                    </div>
                                    if (!(bool)ViewData["IsFriend"])
                                    {
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-danger" onclick="AddFriend('@Model.Id', 'buttonAddFriend')" id="buttonAddFriend">
                                                <i class="fa fa-plus fa"> Добавить в друзья </i>
                                            </button>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading resume-heading">
                    <h4>О себе</h4>
                    <p>
                        @Model.UserInfo
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading resume-heading">
                    <h4>Загруженные материалы</h4>
                    <table class="table table-user-information">
                        <tbody>
                        @for (int i = 0; i < Model.Materials.Count; i+=2)
                        {
                            <tr>
                                <td>
                                    <small>Название предмета: </small>
                                    <a href="/Subjects/MaterialsSubject/@Model.Materials[i].SubjectId" style="text-align: left; margin-top: 10px; font-weight: bold; color: #3104B4">@Model.Materials[i].SubjectName</a>
                                    <p>
                                        <small>Материал: </small>
                                        <a href="/Subjects/Material/@Model.Materials[i].Id" style="text-align: left; margin-top: 10px; font-weight: bold; color: #3104B4">@Model.Materials[i].Name</a>
                                    </p>
                                </td>
                                @if (Model.Materials.Count > i + 1)
                                {
                                    <td>
                                        <small>Название предмета: </small>
                                        <a href="/Subjects/MaterialsSubject/@Model.Materials[i + 1].SubjectId" style="text-align: left; margin-top: 10px; font-weight: bold; color: #3104B4">@Model.Materials[i + 1].SubjectName</a>
                                        <p>
                                            <small>Материал: </small>
                                            <a href="/Subjects/Material/@Model.Materials[i + 1].Id" style="text-align: left; margin-top: 10px; font-weight: bold; color: #3104B4">@Model.Materials[i + 1].Name</a>
                                        </p>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                    </td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
