@using University.Models.Helper
@model University.Models.Dto.UserDto

@Styles.Render("~/Content/css")
@Scripts.Render("~/scripts/jquery-3.1.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

<head>
    <script type="text/javascript" src="/scripts/script.js">
    
    </script>

    <script type="text/javascript">
        var userName = '@Model.SurName' + " " + '@Model.FirstName';
        initUserName(userName);
    </script>

    <style>
        img {
            display: block;
            max-width: 230px;
            max-height: 250px;
            width: auto;
            height: auto;
        }

        .block-image {
            margin-top: 30px;
        }

        .labeled {
            color: #696969;
        }

        .control-label {
            color: #494949;
        }

        .block-name {
            padding-left: 30px;
        }

        #prompt-form {
          display: inline-block;
          padding: 5px 5px 5px 70px;
          width: 500px;
          border: 1px solid black;
          background: white url(https://js.cx/clipart/prompt.png) no-repeat left 5px;
          vertical-align: middle;
        }

        #prompt-form-container {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 9999;
          display: none;
          width: 100%;
          height: 100%;
          text-align: center;
        }

        #prompt-form-container:before {
          display: inline-block;
          height: 100%;
          content: '';
          vertical-align: middle;
        }

        #cover-div {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 9000;
          width: 100%;
          height: 100%;
          background-color: gray;
          opacity: 0.3;
        }

        #prompt-form textarea[name="text"] {
          max-width: none;
          display: block;
          margin: 5px;
          width: 95%;  
        }

    </style>
</head>

<div class="container">
    
    <div id="prompt-form-container">
        <form id="prompt-form">
            <div id="prompt-message">Новое сообщение</div>
            <textarea name="text" type="text" oninput="LockedButton('messageInput', 'buttonSendMessage')" rows="5"></textarea>
            <input type="submit" value="Отправить">
            <input type="button" name="cancel" value="Отмена">
        </form>
    </div>

    <div class="col-md-3 col-md-offset-2 block-image" float="right">
        <img class="image" src="@Model.Photo">
    </div>

    <div class="col-md-4">
        <div class="block-name">
            <h3>@Model.SurName @Model.FirstName</h3>
        </div>
        <br />
        <div class="form-group col-md-12">
            @Html.Label("Дата рождения", new {@class = "col-md-6 control-label"})
            <div class="col-md-6 labeled">@Model.BirthDate.ToLongDateString()</div>
        </div>

        @{ string gender = Model.Gender == UserGenders.Male ? "Мужской" : "Женский";}
        <div class="form-group col-md-12">
            @Html.Label("Пол", new {@class = "col-md-6 control-label"})
            <div class="col-md-6 labeled">@gender</div>
        </div>

        @if (Model.UserRole == UserRoles.Student)
        {
            <div class="form-group col-md-12">
                @Html.Label("Группа", new { @class = "col-md-6 control-label" })
                <div class="col-md-6 labeled">@Model.Group</div>
            </div>
            <div class="form-group col-md-12">
                @Html.Label("Специальность", new { @class = "col-md-6 control-label" })
                <div class="col-md-6 labeled">@Model.Speciality</div>
            </div>

            <div class="form-group col-md-12">
                @Html.Label("Факультет", new { @class = "col-md-6 control-label" })
                <div class="col-md-6 labeled">@Model.Faculty</div>
            </div>
        }
        else
        {
            <div class="form-group col-md-12">
                @Html.Label("Преподаватель кафедры", new { @class = "col-md-6 control-label" })
                <div class="col-md-6 labeled">@Model.Department</div>
            </div>
        }

        <p>
            <a onclick="ShowFormSendMessage('@Model.Id')" id="show-button" class="btn btn-success btn-sm">Написать сообщение</a>
            @if (!(bool)ViewData["IsFriend"])
            {
                <button type="submit" class="btn btn-danger btn-sm" id="buttonAddFriend" onclick="AddFriend('@Model.Id')">Добавить в друзья</button>
            }            
        </p>

    </div>
</div>